---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title='404 Page Not Found' metaDescription='404 Page Not Found'>
  <div
    class='flex h-5xl w-full flex-col items-center justify-center gap-8 text-center'
  >
    <h1 class='text-6xl'>404 Page Not Found</h1>
    <p>Please Navigate back to the website</p>
  </div>
</BaseLayout>
